<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>1</key>
	<dict>
		<key>buildingNumber</key>
		<integer>0</integer>
		<key>imageName</key>
		<string></string>
		<key>buildingName</key>
		<string>教三</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longtitude</key>
		<integer>0</integer>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>2</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>3</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>4</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>5</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>6</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>7</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>8</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>9</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>10</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>11</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>12</key>
	<dict>
		<key>buildingID</key>
		<string>0</string>
		<key>imageName</key>
		<string>small_0</string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>latitude</key>
		<string>0</string>
		<key>longtitude</key>
		<string>0</string>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
</dict>
</plist>
