<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>imageName</key>
		<string></string>
		<key>buildingName</key>
		<string>图书馆</string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string>07：00AM</string>
		<key>closeTime</key>
		<string>22：00PM</string>
		<key>totalFloor</key>
		<string>4</string>
		<key>doorDirection</key>
		<string>西</string>
		<key>doorDescription</key>
		<string>主干道东侧</string>
		<key>position</key>
		<string>学校中部</string>
		<key>function</key>
		<string>阅览室 自习室</string>
		<key>remark</key>
		<string>开放时间每天都不一定，见下表</string>
	</dict>
	<key>1 - 2</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 3</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 4</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 5</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 6</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 7</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 8</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 9</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 10</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 11</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 12</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 13</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 14</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<key>1 - 15</key>
	<dict>
		<key>buildingName</key>
		<string></string>
		<key>coordinates</key>
		<dict>
			<key>1</key>
			<dict>
				<key>latitude1</key>
				<integer>0</integer>
				<key>longtitude1</key>
				<integer>0</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>latitude2</key>
				<integer>0</integer>
				<key>longtitude2</key>
				<integer>0</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>latitude3</key>
				<integer>0</integer>
				<key>longtitude3</key>
				<integer>0</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>latitude4</key>
				<integer>0</integer>
				<key>longtitude4</key>
				<integer>0</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>latitude5</key>
				<integer>0</integer>
				<key>longtitude5</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>openTime</key>
		<string></string>
		<key>closeTime</key>
		<string></string>
		<key>totalFloor</key>
		<string></string>
		<key>doorDirection</key>
		<string></string>
		<key>doorDescription</key>
		<string></string>
		<key>location</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
</dict>
</plist>
